.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  background-color: #E8E2FC;
  padding: 3px;
  color: #623CEA;
  font-weight: 700;
}
